<h1>Your contacts</h1>
<%= link_to "Create a Contact", new_user_contact_path(@user) %>  
<div class="contacts">
	<% @contacts.each do |contact| %>
		  <table class="table">
		  	<thead>
		  		<tr>
			  		<th>#</th>
				  	<th>First Name</th>
				  	<th>Last Name</th>
				  	<th>Email</th>
				  	<th>Phone</th>
				  	<th>Notes</th>
				  </tr>
			  </thead>
		  <tbody>
			  <tr>
			  	<td><%= contact.id %></td>
			  	<td><%= contact.firstname %><%= contact.lastname %></td>
				  <td><%= contact.email %></td>
				  <td><%= contact.phone %></td>
				  <td><%= contact.notes %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
</div>
