<h1>Your contacts</h1>
<%= link_to "Create a Contact", new_user_contact_path(@user) %>  
<div class="contacts">
	<% @contacts.each do |contact| %>
	  <ul>
		  <li><%= contact.firstname %></li>
		  <li><%= contact.lastname %></li>
		  <li><%= contact.email %></li>
		  <li><%= contact.phone %></li>
		  <li><%= contact.notes %></li>
		</ul>
	<% end %>
</div>
