<h1>New Contact</h1>
<%= form_for [@user, @contact] do |f| %>

	<div class="field">
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</div>

  <div class="field">
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</div>

	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>

	<div class="field">
		<%= f.label :notes %>
		<%= f.text_field :notes %>
	</div></br>

	<div class="action">
		<%= f.submit class: "btn btn-success" %>
	</div></br>

	<% end %>